:root {
    --accent-100: rgba(61, 90, 128, 1);
    --accent-200: rgba(206, 232, 255, 1);
    --bg-100: rgba(15, 28, 46, 1);
    --bg-200: rgba(31, 43, 62, 1);
    --bg-300: rgba(55, 67, 87, 1);
    --text-100: rgba(255, 255, 255, 1);
    --text-200: rgba(224, 224, 224, 1);
    --black: rgba(0, 0, 0, 1);
    --white: #ffffff;
    --large: 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);
    --light-grey: rgba(244, 244, 244, 1);
    --medium: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
    --primary-100: rgba(31, 58, 95, 1);
    --primary-200: rgba(77, 100, 141, 1);
    --primary-300: rgba(172, 194, 239, 1);
    --small: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.1);
    --foundation-greendark: rgba(0, 127, 109, 1);
    --foundation-greendark-active: rgba(0, 76, 65, 1);
    --foundation-greendark-hover: rgba(0, 101, 87, 1);
    --foundation-greendarker: rgba(0, 59, 51, 1);
    --foundation-greenlight: rgba(230, 246, 244, 1);
    --foundation-greenlight-active: rgba(176, 228, 221, 1);
    --foundation-greenlight-hover: rgba(217, 242, 239, 1);
    --foundation-greennormal: rgba(0, 169, 145, 1);
    --foundation-greennormal-active: rgba(0, 135, 116, 1);
    --foundation-greennormal-hover: rgba(0, 152, 131, 1);
    --heading-h1-font-family: "Roboto-Bold", Helvetica;
    --heading-h1-font-size: 56px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 700;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 120.00000476837158%;
    --heading-h1-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h1-mobile-font-size: 40px;
    --heading-h1-mobile-font-style: normal;
    --heading-h1-mobile-font-weight: 700;
    --heading-h1-mobile-letter-spacing: 0px;
    --heading-h1-mobile-line-height: 120.00000476837158%;
    --heading-h2-font-family: "Roboto-Bold", Helvetica;
    --heading-h2-font-size: 48px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 700;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 120.00000476837158%;
    --heading-h2-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h2-mobile-font-size: 36px;
    --heading-h2-mobile-font-style: normal;
    --heading-h2-mobile-font-weight: 700;
    --heading-h2-mobile-letter-spacing: 0px;
    --heading-h2-mobile-line-height: 120.00000476837158%;
    --heading-h3-font-family: "Roboto-Bold", Helvetica;
    --heading-h3-font-size: 40px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 700;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 120.00000476837158%;
    --heading-h3-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h3-mobile-font-size: 32px;
    --heading-h3-mobile-font-style: normal;
    --heading-h3-mobile-font-weight: 700;
    --heading-h3-mobile-letter-spacing: 0px;
    --heading-h3-mobile-line-height: 120.00000476837158%;
    --heading-h4-font-family: "Roboto-Bold", Helvetica;
    --heading-h4-font-size: 32px;
    --heading-h4-font-style: normal;
    --heading-h4-font-weight: 700;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 129.99999523162842%;
    --heading-h4-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h4-mobile-font-size: 24px;
    --heading-h4-mobile-font-style: normal;
    --heading-h4-mobile-font-weight: 700;
    --heading-h4-mobile-letter-spacing: 0px;
    --heading-h4-mobile-line-height: 139.9999976158142%;
    --heading-h5-font-family: "Roboto-Bold", Helvetica;
    --heading-h5-font-size: 24px;
    --heading-h5-font-style: normal;
    --heading-h5-font-weight: 700;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 139.9999976158142%;
    --heading-h5-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h5-mobile-font-size: 20px;
    --heading-h5-mobile-font-style: normal;
    --heading-h5-mobile-font-weight: 700;
    --heading-h5-mobile-letter-spacing: 0px;
    --heading-h5-mobile-line-height: 139.9999976158142%;
    --heading-h6-font-family: "Roboto-Bold", Helvetica;
    --heading-h6-font-size: 20px;
    --heading-h6-font-style: normal;
    --heading-h6-font-weight: 700;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 139.9999976158142%;
    --heading-h6-mobile-font-family: "Roboto-Bold", Helvetica;
    --heading-h6-mobile-font-size: 18px;
    --heading-h6-mobile-font-style: normal;
    --heading-h6-mobile-font-weight: 700;
    --heading-h6-mobile-letter-spacing: 0px;
    --heading-h6-mobile-line-height: 139.9999976158142%;
    --text-large-bold-font-family: "Roboto-Bold", Helvetica;
    --text-large-bold-font-size: 20px;
    --text-large-bold-font-style: normal;
    --text-large-bold-font-weight: 700;
    --text-large-bold-letter-spacing: 0px;
    --text-large-bold-line-height: 150%;
    --text-large-extra-bold-font-family: "Roboto-ExtraBold", Helvetica;
    --text-large-extra-bold-font-size: 20px;
    --text-large-extra-bold-font-style: normal;
    --text-large-extra-bold-font-weight: 800;
    --text-large-extra-bold-letter-spacing: 0px;
    --text-large-extra-bold-line-height: 150%;
    --text-large-light-font-family: "Roboto-Light", Helvetica;
    --text-large-light-font-size: 20px;
    --text-large-light-font-style: normal;
    --text-large-light-font-weight: 300;
    --text-large-light-letter-spacing: 0px;
    --text-large-light-line-height: 150%;
    --text-large-link-font-family: "Roboto-Regular", Helvetica;
    --text-large-link-font-size: 20px;
    --text-large-link-font-style: normal;
    --text-large-link-font-weight: 400;
    --text-large-link-letter-spacing: 0px;
    --text-large-link-line-height: 150%;
    --text-large-medium-font-family: "Roboto-Medium", Helvetica;
    --text-large-medium-font-size: 20px;
    --text-large-medium-font-style: normal;
    --text-large-medium-font-weight: 500;
    --text-large-medium-letter-spacing: 0px;
    --text-large-medium-line-height: 150%;
    --text-large-normal-font-family: "Roboto-Regular", Helvetica;
    --text-large-normal-font-size: 20px;
    --text-large-normal-font-style: normal;
    --text-large-normal-font-weight: 400;
    --text-large-normal-letter-spacing: 0px;
    --text-large-normal-line-height: 150%;
    --text-large-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
    --text-large-semi-bold-font-size: 20px;
    --text-large-semi-bold-font-style: normal;
    --text-large-semi-bold-font-weight: 600;
    --text-large-semi-bold-letter-spacing: 0px;
    --text-large-semi-bold-line-height: 150%;
    --text-medium-bold-font-family: "Roboto-Bold", Helvetica;
    --text-medium-bold-font-size: 18px;
    --text-medium-bold-font-style: normal;
    --text-medium-bold-font-weight: 700;
    --text-medium-bold-letter-spacing: 0px;
    --text-medium-bold-line-height: 150%;
    --text-medium-extra-bold-font-family: "Roboto-Bold", Helvetica;
    --text-medium-extra-bold-font-size: 18px;
    --text-medium-extra-bold-font-style: normal;
    --text-medium-extra-bold-font-weight: 700;
    --text-medium-extra-bold-letter-spacing: 0px;
    --text-medium-extra-bold-line-height: 150%;
    --text-medium-light-font-family: "Roboto-Light", Helvetica;
    --text-medium-light-font-size: 18px;
    --text-medium-light-font-style: normal;
    --text-medium-light-font-weight: 300;
    --text-medium-light-letter-spacing: 0px;
    --text-medium-light-line-height: 150%;
    --text-medium-link-font-family: "Roboto-Regular", Helvetica;
    --text-medium-link-font-size: 18px;
    --text-medium-link-font-style: normal;
    --text-medium-link-font-weight: 400;
    --text-medium-link-letter-spacing: 0px;
    --text-medium-link-line-height: 150%;
    --text-medium-medium-font-family: "Roboto-Medium", Helvetica;
    --text-medium-medium-font-size: 18px;
    --text-medium-medium-font-style: normal;
    --text-medium-medium-font-weight: 500;
    --text-medium-medium-letter-spacing: 0px;
    --text-medium-medium-line-height: 150%;
    --text-medium-normal-font-family: "Roboto-Regular", Helvetica;
    --text-medium-normal-font-size: 18px;
    --text-medium-normal-font-style: normal;
    --text-medium-normal-font-weight: 400;
    --text-medium-normal-letter-spacing: 0px;
    --text-medium-normal-line-height: 150%;
    --text-medium-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
    --text-medium-semi-bold-font-size: 18px;
    --text-medium-semi-bold-font-style: normal;
    --text-medium-semi-bold-font-weight: 600;
    --text-medium-semi-bold-letter-spacing: 0px;
    --text-medium-semi-bold-line-height: 150%;
    --text-regular-bold-font-family: "Roboto-Bold", Helvetica;
    --text-regular-bold-font-size: 16px;
    --text-regular-bold-font-style: normal;
    --text-regular-bold-font-weight: 700;
    --text-regular-bold-letter-spacing: 0px;
    --text-regular-bold-line-height: 150%;
    --text-regular-extra-bold-font-family: "Roboto-ExtraBold", Helvetica;
    --text-regular-extra-bold-font-size: 16px;
    --text-regular-extra-bold-font-style: normal;
    --text-regular-extra-bold-font-weight: 800;
    --text-regular-extra-bold-letter-spacing: 0px;
    --text-regular-extra-bold-line-height: 150%;
    --text-regular-light-font-family: "Roboto-Light", Helvetica;
    --text-regular-light-font-size: 16px;
    --text-regular-light-font-style: normal;
    --text-regular-light-font-weight: 300;
    --text-regular-light-letter-spacing: 0px;
    --text-regular-light-line-height: 150%;
    --text-regular-link-font-family: "Roboto-Regular", Helvetica;
    --text-regular-link-font-size: 16px;
    --text-regular-link-font-style: normal;
    --text-regular-link-font-weight: 400;
    --text-regular-link-letter-spacing: 0px;
    --text-regular-link-line-height: 150%;
    --text-regular-medium-font-family: "Roboto-Medium", Helvetica;
    --text-regular-medium-font-size: 16px;
    --text-regular-medium-font-style: normal;
    --text-regular-medium-font-weight: 500;
    --text-regular-medium-letter-spacing: 0px;
    --text-regular-medium-line-height: 150%;
    --text-regular-normal-font-family: "Roboto-Regular", Helvetica;
    --text-regular-normal-font-size: 16px;
    --text-regular-normal-font-style: normal;
    --text-regular-normal-font-weight: 400;
    --text-regular-normal-letter-spacing: -0.2px;
    --text-regular-normal-line-height: 150%;
    --text-regular-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
    --text-regular-semi-bold-font-size: 16px;
    --text-regular-semi-bold-font-style: normal;
    --text-regular-semi-bold-font-weight: 600;
    --text-regular-semi-bold-letter-spacing: 0px;
    --text-regular-semi-bold-line-height: 150%;
    --text-small-bold-font-family: "Roboto-Bold", Helvetica;
    --text-small-bold-font-size: 14px;
    --text-small-bold-font-style: normal;
    --text-small-bold-font-weight: 700;
    --text-small-bold-letter-spacing: 0px;
    --text-small-bold-line-height: 150%;
    --text-small-extra-bold-font-family: "Roboto-ExtraBold", Helvetica;
    --text-small-extra-bold-font-size: 14px;
    --text-small-extra-bold-font-style: normal;
    --text-small-extra-bold-font-weight: 800;
    --text-small-extra-bold-letter-spacing: 0px;
    --text-small-extra-bold-line-height: 150%;
    --text-small-light-font-family: "Roboto-Light", Helvetica;
    --text-small-light-font-size: 14px;
    --text-small-light-font-style: normal;
    --text-small-light-font-weight: 300;
    --text-small-light-letter-spacing: 0px;
    --text-small-light-line-height: 150%;
    --text-small-link-font-family: "Roboto-Regular", Helvetica;
    --text-small-link-font-size: 14px;
    --text-small-link-font-style: normal;
    --text-small-link-font-weight: 400;
    --text-small-link-letter-spacing: 0px;
    --text-small-link-line-height: 150%;
    --text-small-medium-font-family: "Roboto-Medium", Helvetica;
    --text-small-medium-font-size: 14px;
    --text-small-medium-font-style: normal;
    --text-small-medium-font-weight: 500;
    --text-small-medium-letter-spacing: 0px;
    --text-small-medium-line-height: 150%;
    --text-small-normal-font-family: "Roboto-Regular", Helvetica;
    --text-small-normal-font-size: 14px;
    --text-small-normal-font-style: normal;
    --text-small-normal-font-weight: 400;
    --text-small-normal-letter-spacing: 0px;
    --text-small-normal-line-height: 150%;
    --text-small-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
    --text-small-semi-bold-font-size: 14px;
    --text-small-semi-bold-font-style: normal;
    --text-small-semi-bold-font-weight: 600;
    --text-small-semi-bold-letter-spacing: 0px;
    --text-small-semi-bold-line-height: 150%;
    --text-tiny-bold-font-family: "Roboto-Bold", Helvetica;
    --text-tiny-bold-font-size: 12px;
    --text-tiny-bold-font-style: normal;
    --text-tiny-bold-font-weight: 700;
    --text-tiny-bold-letter-spacing: 0px;
    --text-tiny-bold-line-height: 150%;
    --text-tiny-extra-bold-font-family: "Roboto-ExtraBold", Helvetica;
    --text-tiny-extra-bold-font-size: 12px;
    --text-tiny-extra-bold-font-style: normal;
    --text-tiny-extra-bold-font-weight: 800;
    --text-tiny-extra-bold-letter-spacing: 0px;
    --text-tiny-extra-bold-line-height: 150%;
    --text-tiny-light-font-family: "Roboto-Light", Helvetica;
    --text-tiny-light-font-size: 12px;
    --text-tiny-light-font-style: normal;
    --text-tiny-light-font-weight: 300;
    --text-tiny-light-letter-spacing: 0px;
    --text-tiny-light-line-height: 150%;
    --text-tiny-link-font-family: "Roboto-Regular", Helvetica;
    --text-tiny-link-font-size: 12px;
    --text-tiny-link-font-style: normal;
    --text-tiny-link-font-weight: 400;
    --text-tiny-link-letter-spacing: 0px;
    --text-tiny-link-line-height: 150%;
    --text-tiny-medium-font-family: "Roboto-Medium", Helvetica;
    --text-tiny-medium-font-size: 12px;
    --text-tiny-medium-font-style: normal;
    --text-tiny-medium-font-weight: 500;
    --text-tiny-medium-letter-spacing: 0px;
    --text-tiny-medium-line-height: 150%;
    --text-tiny-normal-font-family: "Roboto-Regular", Helvetica;
    --text-tiny-normal-font-size: 12px;
    --text-tiny-normal-font-style: normal;
    --text-tiny-normal-font-weight: 400;
    --text-tiny-normal-letter-spacing: 0px;
    --text-tiny-normal-line-height: 150%;
    --text-tiny-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
    --text-tiny-semi-bold-font-size: 12px;
    --text-tiny-semi-bold-font-style: normal;
    --text-tiny-semi-bold-font-weight: 600;
    --text-tiny-semi-bold-letter-spacing: 0px;
    --text-tiny-semi-bold-line-height: 150%;
    --xlarge: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
    --xsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --xxlarge: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
    --xxsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

*, ::before, ::after {
    box-sizing: border-box;
}

/* ===== Navbar elements ===== */
/* for mobile */
.navbar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 1.5em;
    position: relative;
}

.navbar > .logo {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.navbar > .logo > .heartup_logo {
    height: 2em;
    position: relative;
}

.navbar > .logo > .icon {
    position: relative;
    font-size: 1.3em;
}

.navbar > .column {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    gap: 2em;
    z-index: 20;
}

.navbar > .column .links_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.column .link {
    color: var(--black);
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: fit-content;

    padding: 0.7em 0;
}

.column .link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #000000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.column .link:hover:before {
    visibility: visible;
    transform: scaleX(3);
}

.link .more {
    display: flex;
    flex-direction: row;
}

.link, .more > .span {
    display: inline-block;
}

.column .actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* Navbar Buttons */
.style_secondary {
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 0.6em 1.4em;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: rgba(0, 0, 0, 1) solid 1px;
    outline-offset: 0;
    text-shadow: none;
    position: relative;
    overflow: hidden;
    transition: all 200ms linear;
    cursor: pointer;

    width: 90%;
}

.style_secondary::after {
    background: rgba(187, 182, 182, 0.9);
    content: "";
    height: 155px;
    left: -80px;
    opacity: .2;
    position: absolute;
    top: -55px;
    transform: rotate(35deg);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
}

.style_secondary:hover {
    outline-offset: 0.1em;
    transition: all 200ms linear;
}

.style_secondary:hover::after {
    left: 120%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.style_secondary .button {
    color: var(--black);
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
    z-index: 20;
}

.style_primary {
    text-decoration: none;
    align-items: center;
    background-color: var(--black);
    outline: rgba(0, 0, 0, 1) solid 1px;
    outline-offset: 0;
    display: inline-flex;
    gap: 0.5em;
    justify-content: center;
    padding: 0.6em 1.4em;
    position: relative;
    cursor: pointer;

    width: 90%;
}

.style_primary:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.style_primary .button {
    color: var(--white);
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

/* for desktop */
@media only screen and (min-width: 900px) {
    .navbar {
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 5em;
        background-color: var(--white);
        gap: 4em;
    }

    .navbar > .logo {
        position: relative;
        display: inline-flex;
        gap: 2em;
    }

    .navbar > .logo > .heartup_logo {
        height: 2.5em;
        position: relative;
    }

    .navbar > .logo > .icon {
        display: none;
    }

    .navbar > .column {
        align-items: center;
        display: flex;
        gap: 2em;
        flex-direction: row;
        justify-content: center;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
    }

    .navbar > .column .links_wrapper {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 2em;
        position: relative;
        flex-direction: row;
        width: fit-content;
    }

    .column .link {
        width: fit-content;
        display: flex;
    }

    .column .link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: #000000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
    }

    .column .link:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    .column .actions {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 0.5em;
        justify-content: center;
        position: relative;

        flex-direction: row;
        width: fit-content;
    }

    .style_secondary {
        width: fit-content;
    }
    .style_primary {
        width: fit-content;
    }

}
